build/
.vscode/
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.user
*.suo
*.sdf
*.opensdf
*.ncb
*.opendb
*.db
*.ipch
*.pdb
*.ilk
*.exp
*.iobj
*.ipdb
*.tlog
*.log
*.lastbuildstate
*.cache
*.tmp
*.bak
*.swp
*~
.vs/
out/
cmake-build-*/
CMakeUserPresets.json
compile_commands.json